In [9]:
#Import Package
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn import preprocessing

#importing datasets  
df= pd.read_csv('final_grouping.csv') 


#updating all the numeric columns to float from string
df = df.astype({'LARGEST_GIFT_AMOUNT': float,'TOTAL_NUMBER_GIFTS': float,'TOTAL_GIVING_CAPACITY': float,'TOTAL_INCOME': float,'TOTAL_DONATIONS': float,'TOTAL_EAD': float,'LARGEST_REALEST_VALUE': float,'LAST_GIFT_AMOUNT': float,'age': float,'Avg_Gift_Amount': float,'gifting_Capcity': float})

df

,ID,LARGEST_GIFT_AMOUNT,BIRTH_DATE,FIRST_GIFT_DATE,LARGEST_GIFT_DATE,LAST_GIFT_DATE,TOTAL_GIFT_AMOUNT,TOTAL_NUMBER_GIFTS,TOTAL_GIVING_CAPACITY,TOTAL_INCOME,...,TOTAL_NO_EVENTS_PARTICIPATED,GENDER,FIRST_GIFT_AMOUNT,LAST_GIFT_AMOUNT,Financially_In_Dept,Avg_Gift_Amount,gifting_Capcity,gift_check,age,Group
0,4,135.0,1977-06-01,2011,2011,2011,135.0,1.0,38055.0,47500.0,...,0.0,M,135.0,135.0,False,135.000000,0.003547,False,45.0,0
1,21,50.0,1957-12-01,2012,2012,2012,50.0,1.0,90861.0,187500.0,...,0.0,M,50.0,50.0,False,50.000000,0.000550,False,65.0,4
2,24,7200.0,1938-11-23,2000,2006,2006,18200.0,3.0,260330.0,375000.0,...,0.0,M,6000.0,5400.0,False,6066.666667,0.069911,False,84.0,8
3,28,240.0,1946-10-01,2000,2004,2009,1010.0,7.0,54790.0,71000.0,...,0.0,M,144.0,48.0,False,144.285714,0.018434,False,76.0,8
4,36,200.0,1980-12-01,2009,2010,2013,660.0,4.0,206862.0,125000.0,...,0.0,F,180.0,180.0,False,165.000000,0.003191,False,42.0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3161,26651,605.0,1982-11-01,2014,2014,2014,605.0,1.0,12505.0,70000.0,...,0.0,F,605.0,605.0,True,605.000000,0.048381,False,40.0,9
3162,26684,600.0,1940-08-01,2005,2012,2012,1200.0,2.0,62147.0,87500.0,...,0.0,M,600.0,600.0,False,600.000000,0.019309,False,82.0,9
3163,26741,5000.0,1941-08-01,2020,2021,2021,10000.0,2.0,321380.0,187500.0,...,0.0,F,5000.0,5000.0,False,5000.000000,0.031116,False,81.0,9
3164,26784,20000.0,1965-09-20,1995,2012,2020,57692.0,22.0,57692.0,0.0,...,1.0,F,40.0,250.0,False,2622.363636,1.000000,False,57.0,9
3165,26835,600.0,1983-04-01,2006,2006,2006,1200.0,2.0,29490.0,125000.0,...,0.0,M,600.0,600.0,False,600.000000,0.040692,False,40.0,9

In [10]:
#Probability Function For Numeric Variable 
def calculate_likelihood_gaussian(df,feat_name,feat_val,y):
    mean,std=float(df[feat_name].mean()),float(df[feat_name].std())
    
    prob=(1/(np.sqrt(2.0*np.pi)*std))*np.exp(-((feat_val-mean)**2.0/(2.0*std**2.0)))
    return(prob)

In [11]:
#Function to calculate Score for Numeric variable
def naive_bayes_gaussian_num(df,x,y):
    features=list(df.columns)[:-1]
    
    x_score=[]
    for i in range(len(df.iloc[:,:1])):
        result=0
        for j in range(len(features)):
            val=float(df.iloc[i,j])
            result=result+calculate_likelihood_gaussian(df,features[j],val,y)
        x_score.append(result)
        result=0
    return(x_score)

In [12]:
#Function to calculate Score for Categorical variable
def naive_bayes_gaussian_cat(df,x,y):
    features=list(df.columns)[:-1]
    
    x_score=[]
    for i in range(len(df.iloc[:,:1])):
        result=0
        for j in range(len(features)):
            val=df.iloc[i,j]
            result=result+probab(df,features[j],val)
        x_score.append(result)
        result=0
    return(x_score)

In [13]:
#Function to calculate Score for Categorical variable
def probab(df,feat_name,feat_val):
    prob= len(df[df[feat_name]==feat_val])/len(df)
    return(prob)

In [14]:
#Create empty dataframe
dff_final = pd.DataFrame()

#Apply loop to calculate score for all the groups
for i in range(10):
    #filter dataframe 
    df1=df.loc[df['Group'] == i]
    
    #Select numeric columns from data frame and then apply the function to calculate score
    df_num_col= df1[['LARGEST_GIFT_AMOUNT','TOTAL_NUMBER_GIFTS','TOTAL_GIVING_CAPACITY','TOTAL_INCOME','TOTAL_DONATIONS','TOTAL_EAD','LARGEST_REALEST_VALUE','LAST_GIFT_AMOUNT','Avg_Gift_Amount','gifting_Capcity','age','Group']]
    dff_num=df_num_col.iloc[:,:-1].values
    x_score_num=naive_bayes_gaussian_num(df_num_col,dff_num,y="Group")
    
    #Select categorical columns from data frame and then apply the function to calculate score
    df_cat_col=df1[['FIRST_GIFT_DATE','LARGEST_GIFT_DATE','LAST_GIFT_DATE','TOTAL_NO_EVENTS_PARTICIPATED','GENDER','Financially_In_Dept','Group']]
    dff_cat=df_cat_col.iloc[:,:-1].values
    x_score_cat=naive_bayes_gaussian_cat(df_cat_col,dff_cat,y="Group")
    
    #Adding the two scores from numeric and categorical columns and create final score
    res_list = [x_score_num[i] + x_score_cat[i] for i in range(len(x_score_cat))]
    #insert score column to the final dataframe
    df1['Score']=res_list
   
    #append data frames containing scores for each group into a single data frame
    dff_final=dff_final.append(df1, ignore_index=True)
    res_list.clear()
    x_score_cat.clear()
    x_score_num.clear()

C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Score']=res_list
C:\Users\rathakra2201\AppData\Local\Temp\1\ipykernel_2144\2047149242.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dff_final=dff_final.append(df1, ignore_index=True)

In [16]:
#Create the csv containing the scores
dff_final.to_csv('final_Scoring.csv', header=True, index=False)

In [15]:
dff_final

,ID,LARGEST_GIFT_AMOUNT,BIRTH_DATE,FIRST_GIFT_DATE,LARGEST_GIFT_DATE,LAST_GIFT_DATE,TOTAL_GIFT_AMOUNT,TOTAL_NUMBER_GIFTS,TOTAL_GIVING_CAPACITY,TOTAL_INCOME,...,GENDER,FIRST_GIFT_AMOUNT,LAST_GIFT_AMOUNT,Financially_In_Dept,Avg_Gift_Amount,gifting_Capcity,gift_check,age,Group,Score
0,4,135.00,1977-06-01,2011,2011,2011,135.00,1.0,38055.0,47500.0,...,M,135.00,135.00,False,135.000000,0.003547,False,45.0,0,11.206231
1,65,600.00,1988-06-01,2007,2007,2011,850.00,2.0,48201.0,187500.0,...,M,600.00,250.00,False,425.000000,0.017634,False,34.0,0,10.462297
2,274,27.23,1978-05-01,2021,2022,2022,423.17,16.0,15603.0,39600.0,...,F,25.74,27.23,False,26.448125,0.027121,False,44.0,0,11.609758
3,374,180.00,1961-05-01,2008,2011,2011,540.00,4.0,24915.0,62500.0,...,F,180.00,180.00,True,135.000000,0.021674,False,61.0,0,11.751058
4,477,144.00,1985-05-01,2005,2005,2022,376.18,17.0,6001.0,37500.0,...,F,144.00,24.19,True,22.128235,0.062686,False,37.0,0,8.010763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3161,26651,605.00,1982-11-01,2014,2014,2014,605.00,1.0,12505.0,70000.0,...,F,605.00,605.00,True,605.000000,0.048381,False,40.0,9,4.007583
3162,26684,600.00,1940-08-01,2005,2012,2012,1200.00,2.0,62147.0,87500.0,...,M,600.00,600.00,False,600.000000,0.019309,False,82.0,9,5.146510
3163,26741,5000.00,1941-08-01,2020,2021,2021,10000.00,2.0,321380.0,187500.0,...,F,5000.00,5000.00,False,5000.000000,0.031116,False,81.0,9,4.806265
3164,26784,20000.00,1965-09-20,1995,2012,2020,57692.00,22.0,57692.0,0.0,...,F,40.00,250.00,False,2622.363636,1.000000,False,57.0,9,1.572093
3165,26835,600.00,1983-04-01,2006,2006,2006,1200.00,2.0,29490.0,125000.0,...,M,600.00,600.00,False,600.000000,0.040692,False,40.0,9,5.117082